.sapFCard .sapFCardHeader{
    background: #346187 !important;
}

.sapFCard .sapFCardHeader .sapFCardHeaderText .sapFCardTitle{
    color: white !important;
}

.sapFCard .sapFCardHeader .sapFCardSubtitle{
    color: white !important;
}

.sapFCard{
    box-shadow: none !important;
}


.sapMListBGTranslucent .sapMListTblHeader, .sapMListBGTranslucent .sapMListTblFooter{
    background-color: #2b7c2b !important;
}

.aporte{
    border: 1px solid #b1b1b1 !important;
    border-radius: 10px !important;
}

/*.nroGrande{
    font: 2rem;
}*/


/*MAPAS*/
#map {
    height: 100%;
}

    /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 5;
    /*background-color:rgba(0,0,0,0.15);*/
    padding: 5px;
    border: 1px solid #999;
    text-align: left;   /*center;*/
    font-family: "Roboto", "sans-serif";
    border-radius: 5px;
    /*line-height: 30px;*/
    /*padding-left: 10px;*/
 }

#floating-panel-logo {
    position: absolute;
    top: 91%;
    left: 0.1%;
    z-index: 6;
    width: 10rem;
    height: 4rem;
    /*line-height: 30px;*/
    /*padding-left: 10px;*/
}      

input#submit{
    margin-top: 1%;
    background-color: #055454;
    border: none;
    color: white;
    border-radius: 5px;
}

#floating-panel2 {
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 5;
    background-color:rgba(0,0,0,0.15);
    padding: 5px;
    border: 1px solid #999;
    text-align: left;   /*center;*/
    font-family: "Roboto", "sans-serif";
    border-radius: 5px;
    /*line-height: 30px;*/
    /*padding-left: 10px;*/
}

input#submit2{
    margin-top: 1%;
    background-color: #055454;
    border: none;
    color: white;
    border-radius: 5px;
}    

#floating-panel-logo2 {
    position: absolute;
    top: 91%;
    left: 0.1%;
    z-index: 6;
    width: 10rem;
    height: 4rem;
    /*line-height: 30px;*/
    /*padding-left: 10px;*/
}      
